<!doctype html>
<html>
    <head>
        <title>Blogz</title>
        <meta charset="utf-8">
    </head>
    <body>
            <div class="nav">
                <a href="/login">Log In</a>
                <a href="/display">Main</a>
                <a href="/newpost">Add a Blog</a>
                <a href="/logout">Log Out</a>
            </div>

    <h2>My Posts</h2>

    {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
        <ul class=flashes>
              {% for category,message in messages %}
                <li class="{{category}}">{{message}}</li>
              {% endfor %}
        </ul>
        {% endif %}

    {% endwith %}
    {% block content %}
    {% endblock %}
</body>
</html>
