<!doctype html>
<html>
    <head>
        <title>Build A Blog</title>
        <meta charset="utf-8">
    </head>
    <body>
            <div class="nav">
                <a href="/">Main Blog Page</a>
                <a href="/newpost">Add a Blog Entry</a>
            </div>
       
    
    {% block content %}
    <h2>My Posts</h2>
    
    {% if posts|length == 0 %}
    <p>No posts yet</p>
    {% else %}
        {% for post in posts %}
        <ul>
            <li><a href="/blog?id={{post.id}}">{{post.title}}</a></li>            
        </ul>
        {% endfor %}
    {% endif %}
    {% endblock %}

</body>
</html>