{% extends "login.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>User Signup</title>
    </head>

<body>
    <div>
        <a href='/signup'>Sign Up</a>
    </div>
    <form action="/signup" id="form" method="POST">
        <h1>Login</h1>
        <label for="username">Username</label>
        <input type="text" name="username" id="username"/> 
        <label for="password">Password</label>
        <input type="password" name="password" id="password"/>
        <label for="password">Verify Password</label>
        <input type="password" name="password2" id="password2"/> 
        <button type="submit">Signup</button>

        </form>

    {% with messages = get_flashed_message() %}
        <ul>
            {% for message in messages %}
                <li>{{message}}</li>
            {% endfor %}
        </ul>
    {% endwith %}

    {% endblock %}

</body>
</html>